<?xml version="1.0" encoding="UTF-8"?>
<!--
		/webapp/WEB-INF/web.xml The main configuration file of the application
		for servlet installations.
		RENNES1
	-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <javaee:display-name>esup-opi</javaee:display-name>
  <context-param>
    <javaee:param-name>webAppRootKey</javaee:param-name>
    <javaee:param-value>esup-opi</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>log4jConfigLocation</javaee:param-name>
    <javaee:param-value>classpath:log4j.properties</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:description>
			The location of the main configuration file of the Spring framework.
		</javaee:description>
    <javaee:param-name>contextConfigLocation</javaee:param-name>
    <javaee:param-value>
			classpath:/properties/applicationContext.xml
		</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:description>
			The location of the main configuration file of the JSF framework.
		</javaee:description>
    <javaee:param-name>javax.faces.CONFIG_FILES</javaee:param-name>
    <javaee:param-value>
			/WEB-INF/classes/properties/jsf/navigation-rules.xml
		</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>javax.faces.DEFAULT_SUFFIX</javaee:param-name>
    <javaee:param-value>.xhtml</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>javax.faces.FACELETS_SKIP_COMMENTS</javaee:param-name>
    <javaee:param-value>true</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>javax.faces.PROJECT_STAGE</javaee:param-name>
    <javaee:param-value>Development</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>org.apache.myfaces.PRETTY_HTML</javaee:param-name>
    <javaee:param-value>true</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>org.apache.myfaces.ALLOW_JAVASCRIPT</javaee:param-name>
    <javaee:param-value>true</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>org.apache.myfaces.DETECT_JAVASCRIPT</javaee:param-name>
    <javaee:param-value>false</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>org.apache.myfaces.AUTO_SCROLL</javaee:param-name>
    <javaee:param-value>false</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>org.apache.myfaces.ADD_RESOURCE_CLASS</javaee:param-name>
    <javaee:param-value>org.apache.myfaces.renderkit.html.util.DefaultAddResource</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>org.apache.myfaces.CHECK_EXTENSIONS_FILTER</javaee:param-name>
    <javaee:param-value>true</javaee:param-value>
  </context-param>
  <listener>
    <javaee:listener-class>
			org.springframework.web.util.Log4jConfigListener
		</javaee:listener-class>
  </listener>
  <listener>
    <javaee:listener-class>
			org.springframework.web.context.ContextLoaderListener
		</javaee:listener-class>
  </listener>
  <listener>
    <javaee:listener-class>
            org.springframework.web.context.request.RequestContextListener
        </javaee:listener-class>
  </listener>
  <listener>
    <javaee:listener-class>
            org.apache.myfaces.webapp.StartupServletContextListener
        </javaee:listener-class>
  </listener>
  <filter>
    <javaee:display-name>Hibernate Filter</javaee:display-name>
    <filter-name>Hibernate Filter</filter-name>
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
        </filter-class>
    <init-param>
      <javaee:param-name>sessionFactoryBeanName</javaee:param-name>
      <javaee:param-value>jdbcSessionFactory</javaee:param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Hibernate Filter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>CAS Authentication Filter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <javaee:param-name>targetBeanName</javaee:param-name>
      <javaee:param-value>authenticationFilter</javaee:param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/stylesheets/cas/accueil.xhtml</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CAS Validation Filter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <javaee:param-name>targetBeanName</javaee:param-name>
      <javaee:param-value>ticketValidationFilter</javaee:param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/stylesheets/*</url-pattern>
  </filter-mapping>
  <servlet>
    <javaee:description>
			The main servlet of the application. This class inherits from 
			the MyFaces implementation and handles exceptions thrown for
			specific exception handling.
		</javaee:description>
    <javaee:display-name>Faces Servlet</javaee:display-name>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>
			javax.faces.webapp.FacesServlet
		</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Download Servlet</servlet-name>
    <servlet-class>
			org.esupportail.commons.web.servlet.DownloadServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download Servlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <filter>
    <javaee:description>
			This filter is needed to use some Tomahawk extentions.
		</javaee:description>
    <javaee:display-name>MyFacesExtensionsFilter</javaee:display-name>
    <filter-name>MyFacesExtensionsFilter</filter-name>
    <filter-class>
			org.apache.myfaces.webapp.filter.ExtensionsFilter
		</filter-class>
    <init-param>
      <javaee:description>
				The maximum size of uploaded files.
			</javaee:description>
      <javaee:param-name>maxFileSize</javaee:param-name>
      <javaee:param-value>20m</javaee:param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>MyFacesExtensionsFilter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MyFacesExtensionsFilter</filter-name>
    <url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>stylesheets/welcome.xhtml</welcome-file>
  </welcome-file-list>
  <context-param>
    <javaee:param-name>javax.servlet.jsp.jstl.fmt.localizationContext</javaee:param-name>
    <javaee:param-value>resources.application</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</javaee:description>
    <javaee:param-name>javax.faces.STATE_SAVING_METHOD</javaee:param-name>
    <javaee:param-value>client</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:description>
	If true, a javascript function will be rendered that is able to restore the
	former vertical scroll on every request. Convenient feature if you have pages
	with long lists and you do not want the browser page to always jump to the top
	if you trigger a link or button action that stays on the same page.
	Default is 'false'
</javaee:description>
    <javaee:param-name>org.apache.myfaces.AUTO_SCROLL</javaee:param-name>
    <javaee:param-value>true</javaee:param-value>
  </context-param>
  <listener>
    <javaee:listener-class>org.apache.myfaces.webapp.StartupServletContextListener</javaee:listener-class>
  </listener>
</web-app>