<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	<!--
		/properties/applicationContext.xml The main Spring configuration file.
		This file should not be modified but by the developers. This file is
		referenced by /webapp/WEB-INF/web.xml.
	-->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/properties/defaults.properties</value>
				<value>classpath:/properties/config.properties</value>
				<value>file:${config.location}</value>
			</list>
		</property>
		<property name = "ignoreResourceNotFound" value="true" />
	</bean>
	
	<bean id="app_context" class="org.esupportail.commons.context.ApplicationContextHolder"/>
	
	<import resource="classpath*:/META-INF/remote/remote.xml" />
	<import resource="classpath*:/META-INF/domain/domain.xml" />
	<import resource="classpath*:/META-INF/esup-opi-dao-dao.xml" />
	<import resource="classpath*:/META-INF/urlGeneration/urlGeneration.xml" />
	<import resource="classpath*:/META-INF/ldap/ldap.xml" />
	<import resource="classpath*:/META-INF/i18n/i18n.xml" />
	<import resource="classpath*:/META-INF/cache/cache.xml" />
	<import resource="classpath*:/META-INF/web/beans.xml" />
	<import resource="classpath*:/META-INF/mails/mails.xml" />
	<import resource="classpath*:/META-INF/smtp/smtp.xml" />
	<import resource="classpath*:/META-INF/mails/mailConvocations.xml" />
	<import resource="classpath*:/META-INF/init/init.xml" />
	<import resource="classpath*:/META-INF/misc/abstractBeans.xml" />
	<import resource="classpath*:/META-INF/esup-opi-domain-services-application.xml" />
</beans>